# www/.htaccess
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Laisser passer les fichiers et dossiers réels
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Sinon, redirige vers index.php
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>


