@font-face {
    font-family: 'Algerian';
    src: url('../fonts/Zanzabar-0wK9.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Font families utilitaires */
.font-heading {
  font-family: 'Algerian', serif;
}  